---
import { urlFor } from "../utils/image";
import { getCategories } from "../utils/sanity";
import type { Category} from "../utils/sanity";



const categoriesData = await getCategories();
---

<!-- <div class="category-section container mx-auto h-fit p-[5%]">
  {categoriesData.map((category) => (
    <div class="category-container mb-5">
      <a href={`/leistungen/${category.slug.current}`}>
      
  <div class="px-4 py-2 h-[100px]">
      <h3 class="text-xl font-bold text-gray-800 uppercase dark:text-white">{category?.title}</h3>
  </div>

  {category.imgUrl && <img src={urlFor(category.imgUrl).url()} alt={category.title} class="object-cover w-full h-48 mt-2" width="1920" height="1440" decoding="async" loading="lazy" />}
</div>
    </a>
    
  ))}
</div>  -->


  
<div class="category-section container mx-auto h-fit p-[5%]">
  {categoriesData.map((category) => (
    <a href={`/leistungen/${category.slug.current}`}>
      <div class="category-container flex flex-col justify-center items-center">
      {category.imgUrl && <img src={urlFor(category.imgUrl).url()} alt={category.title} class="object-cover w-full h-48 mt-2" width="1920" height="1440" decoding="async" loading="lazy" />}
      <div class="px-4 py-2 text-center h-[100px]">
          <h3 class="text-xl font-bold text-gray-800 uppercase dark:text-white">{category?.title}</h3>
      </div>
    </div>
    </a>
  ))}
</div> 


  



<style>
 .category-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px; 
  place-items: center; 
}

.category-container{
  max-width: 350px;
  min-height: 350px;
}
  
 
  .category-container img {
    width: 100%;
    height: auto;
    min-height: 250px !important;
   
  }

  h3 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 2.5px;
    color: #000;
    padding-top: 15px;
    padding-bottom: 25px;
    text-transform: uppercase;
  }  

  @media screen and (max-width: 769px) {
    .category-section {
    
    grid-template-columns: 1fr;
    
  }
  }


</style>

